page-personal {
    .toolbar-title-ios{
        color: #fff;
    }
    .page-personal ion-item{
        padding-left: 8px;
    }
    .page-personal .ionText{
        color: #95c800;
    }
    .page-personal .label{
        font-size: 15px;
    }
    .page-personal .listIos ion-textarea{
        border: 1px solid #95c800;
        border-radius: 5px;
        font-size: 16px;
        padding-left: 5px;
        line-height: 1.3;
        color: #95c800;
    }
    .page-personal input{
        border: 1px solid #95c800;
        border-radius: 5px;
        padding: 6px;
    }
    .page-personal .save-btn{
        text-align: center;
        padding-bottom: 20px;
        margin-bottom: 20px;
        .personal{
            background: #95c800;
            height: 26px;
            padding: 0 10px;
            font-size: 14px;
            margin-bottom: 20px;
        }
    }
    .page-personal .listIos {
        margin-bottom: 15px;
    }
    .page-personal .listIos .ionItem .item-inner{
        border: none;
        box-shadow: none;
    }
    .page-personal .listIos.item-block .item-inner{
        border: none;
        box-shadow: none;
    }
    .page-personal .listIos > .item-block:last-child, .listIos > .item-wrapper:last-child .item-block{
        border: none;
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border: none;
    box-shadow: none;
    }
    .item-md.item-input.item-input-has-focus .item-inner,
    .item-md.item-input.input-has-focus .item-inner {
    border: none;
    box-shadow: none;
    }
    .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border: none;
    box-shadow: none;
    }
    .list-md .item-input.item-input-has-focus:last-child,
    .list-md .item-input.input-has-focus:last-child {
    box-shadow: none;
    }
    .item-input-has-focus .label-md[stacked],
    .input-has-focus .label-md[stacked],
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating] {
      color: #999;
    }








}
